#idle {
	height: 20px;
	width: 20px;
	vertical-align: super;
	opacity: 0;
	animation: fadeout 2s;
}
#notIdle {
	height: 20px;
	width: 20px;
	vertical-align: super;
}
.blink {
	animation: blinker 1s linear infinite;
}
.btn-icon-xxl {
	font-size: xx-large;
}
#language-select {
	width: auto;
	position: absolute;
	right: 70px;
}


@keyframes fadeout {
	from { opacity: 1; }
	to   { opacity: 0; }
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}