[Unit]
Description=piScreen Service
After=graphical.target systemd-users-sessions.service

[Service]
Type=simple
Nice=-5
Restart=on-failure
RestartSec=10
User=pi
WorkingDirectory=/home/pi/piScreen
TimeoutStopSec=10
ExecStart=/home/pi/piScreen/piScreenCore.py &
ExecStop=/home/pi/piScreen/piScreenCmd.py --stop-core
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/" 

[Install]
WantedBy=graphical.target
